
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}

.MainContainer{
	height:400px;
	background-color: #00007d;
	border: 2px solid #3a3a3a;
	-moz-border-radius: 50px 50px 0px 0px;
	-webkit-border-radius: 50px 50px 0px 0px;
	border-radius: 50px 50px 0px 0px;
	-moz-box-shadow: 0px 0px 7px #000000;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
	opacity: 0.93;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 93);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity = 93);
}
.ButtonFrame{
	height:80px;
	background-color: #00007d;
	background-color:#89c403;
	-moz-border-radius: 0px 0px 50px 50px;
	-webkit-border-radius: 0px 0px 50px 50px;
	border-radius: 0px 0px 50px 50px;
	-moz-box-shadow: 0px 0px 7px #000000;
	-webkit-box-shadow: 0px 0px 7px #000000;
	box-shadow: 0px 0px 7px #000000;
}
.ButtonFrame, .MainContainer{
	width:800px;
	position:relative;
	top:1px;
	left:50px;
}
.img_logo{
	position:relative;
	top:5px;
	left:5px;
}
.main_text {
	position:relative;
	top:5px;
	left:15px;
	font-family: arial,sans-serif;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.errmsg {
	position:relative;
	top:5px;
	left:15px;
	font-family: arial,sans-serif;
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.step_input{ 
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	height:45px; 
    	width: 310px; 
    	padding-left:10px; 
    	padding-right:10px; 
	font-size: 30px;
	font-weight: bold;
  } 

.help_link {
	position:relative;
	bottom:10px;
	left:700px;
	font-size: 18px;
	font-weight: bold;
}
.step_next {
	-moz-box-shadow:inset 0px 0px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a4e271;
	box-shadow:inset 0px 0px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.step_next:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.step_next:active {
	position:relative;
	top:1px;
	right:5px;
}
